<button
  class="preference-menus__trigger"
  type="button"
  [nwMenuTriggerFor]="languages"
  [attr.aria-label]="('preferences.language.label' | transloco) + ': ' + currentLanguage()"
>
  <nw-icon name="globe" />
  @if (framed()) {
    <span class="preference-menus__value" aria-hidden="true">{{ currentLanguage() }}</span>
    <nw-icon class="preference-menus__chevron" name="chevron-down" size="sm" />
  } @else {
    <span class="preference-menus__value" aria-hidden="true">{{
      locale.locale() | uppercase
    }}</span>
  }
</button>
<ng-template #languages>
  <nw-menu>
    @for (option of locales; track option.value) {
      <button nw-menu-item [attr.lang]="option.value" (triggered)="setLocale(option.value)">
        <span class="preference-menus__option">{{ option.name }}</span>
        @if (locale.locale() === option.value) {
          <nw-icon name="check" size="sm" />
        }
      </button>
    }
  </nw-menu>
</ng-template>

<adm-appearance-menu [framed]="framed()" />
