<ng-template #bloom>
  <img
    class="nw-brand-mark__bloom nw-brand-mark__bloom--on-light"
    src="brand/nawara-bloom-coral.svg"
    alt=""
    width="480"
    height="580"
  />
  <img
    class="nw-brand-mark__bloom nw-brand-mark__bloom--on-dark"
    src="brand/nawara-bloom-glow.svg"
    alt=""
    width="480"
    height="580"
  />
</ng-template>

@if (lettered()) {
  <span class="nw-brand-mark__word" aria-hidden="true">
    <span>nawa</span>
    <ng-container [ngTemplateOutlet]="bloom" />
    <span>a</span>
  </span>
  @if (full()) {
    <span class="nw-brand-mark__solutions" aria-hidden="true">
      <span class="nw-brand-mark__solutions-text">SOLUTIONS</span>
      <img
        class="nw-brand-mark__flourish nw-brand-mark__flourish--on-light"
        src="brand/nawara-solutions-flourish.svg"
        alt=""
        width="185"
        height="28"
      />
      <img
        class="nw-brand-mark__flourish nw-brand-mark__flourish--on-dark"
        src="brand/nawara-solutions-flourish-glow.svg"
        alt=""
        width="185"
        height="28"
      />
    </span>
  }
} @else {
  <ng-container [ngTemplateOutlet]="bloom" />
}
